<li *ngIf="transferItem" class="flex justify-between gap-x-9 py-5">
  <div class="flex min-w-0 gap-x-4">
    <div class="min-w-0 flex-auto">
      <p class="text-sm font-semibold leading-6 text-gray-900">Transfer Id</p>
      <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{transferItem._id}}</p>
    </div>
    <div class="min-w-0 flex-auto">
      <p class="text-sm font-semibold leading-6 text-gray-900">Transfer Status</p>
      <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{transferStatus}}</p>
    </div>
    <div class="min-w-0 flex-auto">
      <p class="text-sm font-semibold leading-6 text-gray-900">Amount | Currency</p>
      <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{transferItem.amount}} | {{transferItem.currencyType}}</p>
    </div>
    <div class="min-w-0 flex-auto">
      <p class="text-sm font-semibold leading-6 text-gray-900">From Account</p>
      <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{transferItem.fromAccount}}</p>
    </div>
    <div class="min-w-0 flex-auto">
      <p class="text-sm font-semibold leading-6 text-gray-900">Destination Account</p>
      <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{transferItem.toAccount}}</p>
    </div>
  </div>
  <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
    <p class="text-sm leading-6 text-gray-900">Co-Founder / CEO</p>
    <p class="mt-1 text-xs leading-5 text-gray-500">Last seen <time datetime="2023-01-23T13:23Z">3h ago</time></p>
  </div>
</li>




