version: '3.8'
services:
  zookeeper:
    image: zookeeper:latest
    container_name: zookeeper
    ports:
      - "2181:2181"
      
  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    links:
      - "zookeeper:zookeeper"
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
    restart: unless-stopped

  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    restart: unless-stopped

  accounts:
    depends_on: 
      - kafka
    build:
      context: ./accounts
    restart: unless-stopped

  banks:
    depends_on: 
      - kafka
    build:
      context: ./banks
    restart: unless-stopped

  transfers:
    depends_on: 
      - kafka
    build:
      context: ./transfers
    restart: unless-stopped

  api-gateaway:
    depends_on: 
      - kafka
    build:
      context: ./api-gateaway
    ports:
      - "3000:3000"
    restart: unless-stopped
