
  <div *ngIf="accounts" id="controls-carousel" class="relative w-full" data-carousel="static">
      <!-- Carousel wrapper -->
      <div class="relative h-full rounded-lg">
          <ng-container *ngFor="let account of accounts; let i = index">
              <div *ngIf="currentIndex===i" id="{{i}}" class="carousel-item duration-700 ease-in-out" [account]="account" app-account-item>
              </div>
          </ng-container>
      </div>
      <!-- Slider indicators -->
      <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
        <ng-container *ngFor="let account of accounts; let i = index">
            <button 
            type="button" 
            class="w-3 h-3 rounded-full"
            (click)="setCurrentIndex(i)" 
            [attr.aria-current]="i === 0 ? 'true' : 'false'" 
            [attr.aria-label]="'Slide ' + (i + 1)" 
            [attr.data-carousel-slide-to]="i">{{i+1}}</button>
          </ng-container>
          
      </div>
      <!-- Slider controls -->
      <button 
      *ngIf="accounts"
      id="data-carousel-prev" 
      type="button"
      (click)="onPrevClick()"
      class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none">
          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/30 dark:bg-gray-800/30 group-hover:bg-black/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-black dark:group-focus:ring-gray-800/70 group-focus:outline-none">
              <svg class="w-4 h-4 text-black dark:text-gray-800"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
              </svg>
              <span class="sr-only">Previous</span>
          </span>
      </button>
      <button 
      id="data-carousel-next" 
      type="button"
      (click)="onNextClick()" 
      class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none">
          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/30 dark:bg-gray-800/30 group-hover:bg-black/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-black dark:group-focus:ring-gray-800/70 group-focus:outline-none">
              <svg class="w-4 h-4 text-black dark:text-gray-800"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
              <span class="sr-only">Next</span>
          </span>
      </button>
  </div>
  
  