<div class="relative left-1/2 z-10 mb-6 mt-5 flex w-screen max-w-max -translate-x-1/2 px-4">
  <div class="w-screen max-w-md flex-auto overflow-hidden rounded-3xl bg-white text-sm leading-6 shadow-lg ring-1 ring-gray-900/5">
    <div class="p-4">
      <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
        <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
          <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
          </svg>
        </div>
        <div class="mb-6">
          <button 
          (click)="toggleTransferTypesMenu()" 
          type="button" 
          class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50 cursor-pointer rounded-md bg-white py-3  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300" 
        >

            <span class="flex items-center">
              <span class="ml-3 block truncate">{{ selectedCurrencyType || 'Select Currency Type' }}</span>
            </span>
            <span *ngIf="selectedCurrencyType" class="pointer-events-none relative inset-y-0 right-0 ml-3 flex items-center pr-2">
              <svg class="h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
              </svg>
            </span>

          </button>
            <ul *ngIf="isTransferCurrencyOpen" 
            class="absolute z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" 
            tabindex="-1" 
            role="listbox" 
            aria-labelledby="listbox-label" 
            aria-activedescendant="listbox-option-3">
              <li 
              *ngFor="let currencyType of currencyTypes" 
              class="text-gray-900 relative cursor-pointer select-none py-3 pl-5 pr-9" 
              id="listbox-option-5" 
              role="option">
                <button mat-button class="flex items-center" (click)="onSelectedCurrencyType(currencyType) ">
                  <span [ngClass]="{'font-semibold': selectedCurrencyType === selectedCurrencyType, 'font-normal': selectedCurrencyType !== selectedCurrencyType}" class="ml-3 block truncate">{{currencyType}}</span>
                </button>
                <span *ngIf="selectedCurrencyType === 'selectedCurrencyType'" class="text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-4">
                  <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
                  </svg>
                </span>
              </li>
            </ul>
        </div>
      </div>
      <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
        <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
          <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.625 1.5H9a3.75 3.75 0 013.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 013.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 01-1.875-1.875V3.375c0-1.036.84-1.875 1.875-1.875zM12.75 12a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V18a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V12z" clip-rule="evenodd"/>
          </svg>
        </div>
        <div>
          <div class="mb-6">
            <label for="toAccount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Receiving Account</label>
            <input [(ngModel)]="createTransferForm.toAccount" type="string" id="toAccount" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="receiving account id" required>
          </div>
          <p class="mt-1 text-gray-600">Select receiving account&#039;s id</p>
        </div>
      </div>
      <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
        <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
          <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"/>
          </svg>
        </div>
        <div>
          <div class="mb-6">
            <label for="amount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Amount</label>
            <input [(ngModel)]="createTransferForm.amount" type="number" id="amount" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
          </div>
          <p class="mt-1 text-gray-600">Select amount of money for transfer</p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 divide-x divide-gray-900/5 bg-gray-50">
      <div class="p-3 px-6 flex items-center ">
        <div class="flex items-center h-5">
          <input id="terms" type="checkbox" class="p-6 px-6 py-3 flex items-center border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
        </div>
        <label for="terms" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree with the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a></label>
      </div>
      <button
      (click)="onCreateTransferSubmit()" 
      type="submit" 
      class="p-6 px-6 py-3 text-white bg-indigo-600 hover:bg-indigo-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Approve</button>
    </div>
  </div>
</div>
<!--Loading Modal-->
<div *ngIf="loading" class="flex items-center justify-center w-full h-full border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
  <div  app-loading></div>
</div>
<!--Loading Modal End-->
  <!-- Fail Modal-->
  <div *ngIf="errorMessage" app-app-error [errorMessage]="errorMessage" [process]="process"> </div>
  <!-- Fail Modal End-->
  <!--Returned Created Transfer Component-->
  <div *ngIf="returnedCreatedTransfer" app-created-transfer [returnedCreatedTransfer]="returnedCreatedTransfer"></div>
  <!--Returned Created Transfer Component End-->